<div ng-class="{'game-active': !waiting,'game-over': !!gameOver}" class="game-wrapper {{playerSide}}-player"  ui-event='{"mousewheel":"onMouseWheel($event)","touchstart":"onTouchStart($event)","touchmove":"onTouchMove($event)","touchend":"onTouchStop($event)"}'>
    <div class="map" style="height:{{mapHeight}}px;width:{{mapWidth}}px;">
        <div class="goal-container">
            <div class="goal"></div>
            <div class="goal-keeper" style="top:{{goalKeeperY}}px;height:{{goalKeeperHeight}}px;"></div>
        </div>
        <div id="ball" style="{{ballPosition}}">
            <div class="ball-wrapper">
                <div class="ball"></div>
                <div class="ball-shadow"></div>
            </div>
        </div>
    </div>
    <div id="waiting" class="hero-unit">
        <h1>waiting for other players.</h1>
        <h3>keep your pants on.</h3>
    </div>
    <div id="game-over" class="hero-unit">
        <h1>You have {{won}}</h1>
        <br/>
        <button ng-click="restartGame();">Play another game</button>
    </div>
</div>